<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/layout/LayoutBody">

<div class="container" layout:fragment="conteudo">
	<div id="page-title">
		<h2>Controle de Vagas</h2>
		<p>Cadastro e controle de vagas.</p>
		<div class="row">
			<div class="col col-md-12 col-sm-12">
				<div class="panel">
					<div class="panel-body">
						<div class="col col-md-10 col-sm-10 col-lg-10">
						<form method="GET" th:object="${vagaFilter}">
							<div class="input-group input-group-sm" style="width: 150px;">
								<input class="form-control pull-right" name="table_search"
									placeholder="Buscar nome" type="text" autofocus="autofocus"
									th:field="*{nome}" />
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit">
										<i class="glyph-icon icon-search"></i>
									</button>
								</div>
							</div>
						</form>
						</div>
						<div>
							<a class="btn btn-primary" th:href="@{/admin/vagas/novo}"> <i
											class="glyphicon glyphicon-plus-sign"></i> <span
											class="hidden-xs hidden-sm">Novo Registro</span></a>
							</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col col-md-12 col-sm-12">
				<div class="panel">
					<div class="panel-body">
						<h3 class="title-hero">Tabela de Vagas</h3>
						<table class="table table-striped table-hover table-responsive table-bordered">
							<thead>
								<tr>
									<th class="text-center">*</th>
									<th class="text-center">Nome</th>
									<th class="text-center">Descricao</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="vaga : ${vagas}">
									<td class="text-center" th:text="${vaga.id}"></td>
									<td class="text-center" th:text="${vaga.nome}"></td>
									<td class="text-center" th:text="${vaga.descricao}"></td>

										<!-- Permitir a exclusão apenas em itens criados manualemente -->
									<td class="text-center">
										<span th:if="${vaga.isExcluirEnabled()}"> <a
											class="btn  btn-link  btn-xs" title="Editar"> <i
												class="glyphicon glyphicon-pencil">Editar</i>
										</a> <a class="btn  btn-link  btn-xs" title="Excluir"> <i
												class="glyphicon glyphicon-remove">Excluir</i>
										</a>
									</span>
									</td>
								</tr>
								<tr th:if="${#lists.isEmpty(vagas)}">
									<td colspan="4">Nenhum registro foi localizado</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>