<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Index</title>
	
	<style type="text/css">
		body{
			background-color: black;
		}
		p{
			color: white;
			text-align: center;
		}
		h3{
			color: white;
			text-align: center;
		}
	</style>
</head>
<body>
	<header>
		<h3>Se você esta vendo essa página significa que a sua aplicação
			foi configurada corretamente </h3>
		<h3>Site pronto para desenvolvimento...</h3>
	</header>
	<footer>
		<p>Direitos autorais de Prolink Contabil</p>
	</footer>
</body>
</html>