<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="layout/LayoutBody">

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="conteudo">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Titulo<small>Description</small>
      </h1>
    </section>
    <!-- Main content - Formulario -->
    <section class="content container-fluid">
    	<div class="row">
	    	<div class="box box-primary">
	    		<div class="box-header with-border">Titulo do Formulario</div>
		    	
	    	</div>
    	</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</html>